<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357247078028-2pg5rpmhspukhr7gce4ll2qd7c3ttcj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357247078028-2pg5rpmhspukhr7gce4ll2qd7c3ttcj5</string>
	<key>API_KEY</key>
	<string>AIzaSyBXu0nNViCh_tegXwELTAzmgccvHWYwCD4</string>
	<key>GCM_SENDER_ID</key>
	<string>357247078028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hearth</string>
	<key>PROJECT_ID</key>
	<string>hearth-5d9ff</string>
	<key>STORAGE_BUCKET</key>
	<string>hearth-5d9ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357247078028:ios:31eb229b6ce20308fd75a9</string>
	<key>DATABASE_URL</key>
	<string>https://hearth-5d9ff-default-rtdb.firebaseio.com</string>
</dict>
</plist>